@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,400;1,500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

nav{
    height: 80px;
    display: flex;
}

img{
    width: 100%;
    height: 100%;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.black{
    color: black;
}


ul{
    display: flex;
}

li{
    list-style-type: none;
}

p{
    margin-top: 24px;
    padding-left: 16px;
}

.bold{
    text-decoration: bold;
    color: blue;
}


a:hover{
    text-decoration: underline;
}

.nav__link:hover{
    text-decoration: underline;
}

.nav__link{
    margin-left: 48px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

nav{
    justify-content: center;
}


/*LANDING*/

#landing{
    background-color: rgb(255, 255, 255);
}

header{
    height: calc(100vh - 80px) ;
}

.header__container{
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    font-size: 56px;
    margin-bottom: 24px;
    text-align: center;
}

h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 32px;
    text-align: center;
}

button{
    cursor: pointer;
}

button:active{
    transform: translateY(1px);
}

.btn{
    background-color:  black ;
    color: whitesmoke;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
}

.header__description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__img--wrapper{
    padding: 20px;
}

.row{
    width: 100%;
    max-height: 1200px;
    margin: 0 auto;
}

.row__column{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*GIFTCARDS*/

#features{
    padding-top: 8vw;
    background-color: rgb(255, 255, 255) ;
}

.gift__card-img{
    height: 200px;
}

.gift__cards{
    display: flex;
    flex-wrap: wrap;
}

.gift__card-img{
    width: 100%;
    padding: 24px;
    transition: all 300ms ease;
    border-radius: 30px;
}

.gift__card--img-wrapper{
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

.gift__card:hover .gift__card-img{
    transform: scale(1.03);
}

.gift__card-title{
    font-size: 20px;
    margin-bottom: 8px;
}

/*EXPLORE SECTION*/


#explore{
    margin-top: 24px;
    background-color: rgb(255, 255, 255);
}


/*FOOTER*/

footer{
    background-color: #242424;
}

.footer__link, 
.footer__copyright{
    color: rgb(255, 255, 255);
}

.footer__list{
    margin: 24px 0;
}

.footer__container{
    margin-top: 24px;

}

.footer__link{
    padding: 0 8px;
}


@media (max-width: 660px){
    p{
        margin-top: 10px;
    }
    footer{
        margin-top: 1100px;
    }
}